@model IEnumerable<Records.Models.ActionMonitor>

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionPerformed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.During)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionPerformed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.During)
            </td>

        </tr>
    }

</table>
@Html.ActionLink("Back", "AdminPage", "Login")